extends layout
block content
  h1 Boire de l'eau juste avant de souffler dans le ballon, ça sert à rien !
  br
  h1 C'est pas une question de morphologie ! (enfin pas que)
  br
  h1 L'alcool désaltère ? En Fait non
  br
