extends layout
block content
  .container(style="background-color:white;padding:10px;")
    p Boire de l'eau juste avant de souffler dans le ballon, ça sert à rien !
      | C'est pas une question de morphologie ! (enfin pas que)
      | L'alcool désaltère ? En Fait non
