doctype html
html
  head
    meta(charset='utf-8')
    title Paragraphes
  body
    input(type='submit', value='Se déconnecter', name='bouton1')
    p PointSAM : 
    p Devenir SAM pour une soirée
    input(type='submit', value='Devenir SAM', name='bouton2')
    p Chercher un SAM
    input(type='submit', value='Chercher SAM', name='bouton3')
    h2 Informations Personnelles
    ul
      li adresse : 
      li téléphone : 
      li voiture : 
      li lien paypal : 
      li sexe : 
    h3 Mon AviScore