block content
    p Erreur 404

script(src="https://cdn.rawgit.com/Haeresis/konami-code-js/master/src/konami-code.js")
script.
  new KonamiCode(function () {
    window.location.replace('/minigame')
  });
