extends layout

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .carousel-item.active
        img.first-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
        .container
          .carousel-caption.d-none.d-md-block.text-left
            h1 Rejoignez le projet Sam sauve ta vie dés maintenant !
            p Un partenaire indispensable de vos soirée.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Inscris-toi
      .carousel-item
        img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
        .container
          .carousel-caption.d-none.d-md-block.text-left
            h1 Découvrez les astuces du jour.
            p Comment retenir un ami qui a bu ?
            p Cassez les préjugés sur l'alcool !
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Voir plus
      .carousel-item
        img.third-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
        .container
          .carousel-caption.d-none.d-md-block.text-left
            h1 Une application promue par la nuit de l'info !
            p Cet événement regroupe de nombreux étudiants chaque année, découvrez-en plus dans l'article qui suit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Voir l'article
    a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  //
    Marketing messaging and featurettes
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-4
        img.rounded-circle(src='data/baptistAuriac.jpg', alt='Generic placeholder image', width='140', height='140')
        h2 Pour les SAM
        p
          | Avec Sam sauve ta vie, rencontrez et ramenez des personnes habitant près de
          | chez vous.
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='data/poucebleu1.jpg', alt='Generic placeholder image', width='140', height='140')
        h2 Pour les fins de soirée
        p
          | Avec Sam sauve ta vie, si vous voulez partir en soirée mais n'avez pas de moyen de transport
          | pour le retour, trouvez un SAM vous ramenant chez vous et profitez de votre soirée.
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2 Rentrez rassuré
        p
          | Avec notre système de notation, soyez toujours rassuré en choississant votre chauffeur
          | ou vos passagers.
      // /.col-lg-4
    // /.row
    //// START THE FEATURETTES
    //hr.featurette-divider
    //.row.featurette
    //  .col-md-7
    //    h2.featurette-heading First featurette heading.
    //      span.text-muted It&apos;ll blow your mind.
    //    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    //  .col-md-5
    //    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    //hr.featurette-divider
    //.row.featurette
    //  .col-md-7.push-md-5
    //    h2.featurette-heading Oh yeah, it&apos;s that good.
    //      span.text-muted See for yourself.
    //    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    //  .col-md-5.pull-md-7
    //    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    //hr.featurette-divider
    //.row.featurette
    //  .col-md-7
    //    h2.featurette-heading And lastly, this one.
    //      span.text-muted Checkmate.
    //    p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    //  .col-md-5
    //    img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    //hr.featurette-divider
    //// /END THE FEATURETTES
    // FOOTER
    footer
      p.float-right
        a(href='#') Back to top
      p &copy; 2017 Company, Inc. &middot;
        a(href='#') Privacy &middot;
        a(href='#') Terms