doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    link(rel='stylesheet', href='https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href="/stylesheets/style.css?v=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src='https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js')
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#') Carousel
      #navbarCollapse.collapse.navbar-collapse
          if session.pseudo
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/users') Profil&nbsp;
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='#') Deconnexion&nbsp;
                  i(class="fa fa-sign-out", aria-hidden="true")
          else
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/login') Login&nbsp;
                  i(class="fa fa-sign-in", aria-hidden="true")
              li.nav-item
                a.nav-link(href='/signin') SignIn&nbsp;

    ul.custom-menu
      li(data-action="boire") Boire un verre

.script
  $(document).bind("contextmenu", function (event) {
    event.preventDefault();
    $(".custom-menu").finish().toggle(100).
    css({
        top: event.pageY + "px",
        left: event.pageX + "px"
    });
  });
  $(document).bind("mousedown", function (e) {
    if (!$(e.target).parents(".custom-menu").length > 0) {
        $(".custom-menu").hide(100);
    }
  });
  $(".custom-menu li").click(function(){
    switch($(this).attr("data-action")) {
        case "boire": alert("boire"); break;
    }
    $(".custom-menu").hide(100);
  });

    block content
