doctype html
html
    head
        title Connexion
    body
        p Pour continuer, merci de vous connectez :

        form(name="connexionForm", method="post")
        div.input
            span.label Pseudo :
            input(type="text", name="pseudo")
        div.input
            span.label Mot de passe :
            input(type="password", name="password")
        a(href="/signin") Inscription