extends layout
block content
    .container(style="background-color:white;padding:10px")
        if error
            for e in errors
                div(class="alert alert-danger") #{e.msg}

        form(class="form-signin", name="connexionForm", method="post", action="/signup")
            h2(class="form-signin-heading") Inscription

            input(class="form-control form-control-top", type="text", name="firstname", placeholder="Prénom")
            input(class="form-control form-control-middle", type="text", name="lastname", placeholder="Nom")
            input(class="form-control form-control-middle", type="text", name="pseudo", placeholder="Pseudo")
            input(class="form-control form-control-middle", type="text", name="address", placeholder="Adresse")
            input(class="form-control form-control-middle", type="text", name="postcode", placeholder="Code postale")
            input(class="form-control form-control-middle", type="text", name="city", placeholder="Ville")
            input(class="form-control form-control-middle", type="text", name="country", placeholder="Pays")
            input(class="form-control form-control-middle", type="mail", name="mail", placeholder="Email")
            input(class="form-control form-control-middle", type="phone_number", name="phone_number", placeholder="Téléphone")
            input(class="form-control form-control-middle", type="password", name="password", placeholder="Mot de passe")
            input(class="form-control form-control-bottom", type="password", name="password_confirmation", placeholder="Confirmer mot de passe")

            button(class="btn btn-lg btn-primary btn-block" type="submit") S'inscrire



