extends layout
block content
      ul
        li
          a(href="/tram/horaires_chu") Vandoeuvre CHU Brabois
        li
          a(href="/tram/horaires_foretDeHaye") Foret de haie
        li
          a(href="/tram/horaires_faisanderie") Faisanderie
        li
          a(href="/tram/horaires_essey") Essey Mouzimpre
        li
          a(href="/tram/horaires_esseyRoosevelt") Essey Roosevelt
