doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    li.dropdown.btn.btn-default
      span.glyphicon.glyphicon-th-list
        |  Select
        span.caret
      ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
        li
          a(href="horaires_chu") Vandoeuvre CHU Brabois
        li
          a(href="horaires_foretDeHaye") Foret de haie
        li
          a(href="horaires_faisanderie") Faisanderie
        li
          a(href="horaires_essey") Essey Mouzimpre
        li
          a(href="horaires_esseyRoosevelt") Essey Roosevelt

