extends layout
block content
    .container
      if (displayMode == 0)
        form(class="form-signin", name="addVehicle", method="post", action="/car/add")
            //p Bienvenue #{pseudo}
            h2 Ajouter un véhicule

            input(class="form-control form-control-top", type="text", name="brand", placeholder="Marque")
            input(class="form-control form-control-bottom", type="number", name="capacity", placeholder="Capacité")
            input(class="btn btn-lg btn-primary btn-block", type="submit", value="Ajouter")
      else if(displayMode == 1)
        div(class="alert alert-success") Votre véhicule a été ajouté !
            a(href="/users") Retour
      else
        div(class="alert alert-danger") Erreur de mode !
