extends layout
block content
    .container(style="background-color:white;padding:10px")
      if (displayMode == 0)
        h2 Liste de vos véhicules
        table.table.table-hover
            thead
                tr
                    th Marque
                    th Capacité
            tbody
                each item in data
                    tr
                        td #{item["brand"]}
                        td #{item["capacity"]}

        form(action='/users/car/add',name="addVehicle", method="post")
            h3 Ajouter un véhicule
            .form-group.row
                label.col-2.col-form-label(for='brand') Marque
                .col-10
                    input#brand.form-control(type='text', name="brand", placeholder="Marque")
            .form-group.row
                label.col-2.col-form-label(for='capacity') Capacité
                .col-10
                    input#capacity.form-control(type='text', name="capacity", placeholder="Capacité")

            input(class="btn btn-lg btn-primary btn-block", type="submit", value="Ajouter")
      else if(displayMode == 1)
          div(class="alert alert-success") Votre véhicule a été ajouté !
            a(href="/users") Retour
      else if(displayMode == 2)
          div(class="alert alert-error") Vous n'avez pas les droits nécessaires pour faire cette action !
            a(href="/users") Retour
      else if(displayMode == 3)
          div(class="alert alert-success") Vous avez supprimer un de vos véhicules !
            a(href="/users") Retour
      else
          div(class="alert alert-danger") Erreur de mode !
