extends ../layout
block content
  .container(style="background:white;padding:10px;")
    table#stophour(summary="Horaires de passage à l'arrêt Essey Mouzimpré \
    ligne 1 - \
    ")
      #journeyLegend
        h3 Direction :
        | Vandoeuvre CHU Brabois
        .clear
        br
        .color(style='background-color: #99CCFF;')
        thead
          tr
            th#hour4.col1(scope='col')
              | 04
              abbr(title='') h
            th#hour5.col0(scope='col')
              | 05
              abbr(title='') h
            th#hour6.col1(scope='col')
              | 06
              abbr(title='') h
            th#hour7.col0(scope='col')
              | 07
              abbr(title='') h
            th#hour8.col1(scope='col')
              | 08
              abbr(title='') h
            th#hour9.col0(scope='col')
              | 09
              abbr(title='') h
            th#hour10.col1(scope='col')
              | 10
              abbr(title='') h
            th#hour11.col0(scope='col')
              | 11
              abbr(title='') h
            th#hour12.col1(scope='col')
              | 12
              abbr(title='') h
            th#hour13.col0(scope='col')
              | 13
              abbr(title='') h
            th#hour14.col1(scope='col')
              | 14
              abbr(title='') h
            th#hour15.col0(scope='col')
              | 15
              abbr(title='') h
            th#hour16.col1(scope='col')
              | 16
              abbr(title='') h
            th#hour17.col0(scope='col')
              | 17
              abbr(title='') h
            th#hour18.col1(scope='col')
              | 18
              abbr(title='') h
            th#hour19.col0(scope='col')
              | 19
              abbr(title='') h
            th#hour20.col1(scope='col')
              | 20
              abbr(title='') h
            th#hour21.col0(scope='col')
              | 21
              abbr(title='') h
            th#hour22.col1(scope='col')
              | 22
              abbr(title='') h
            th#hour23.col0(scope='col')
              | 23
              abbr(title='') h
        tbody
          tr
            td.hour.col1(headers='hour4')
              div(style='background-color: #99CCFF;')
                | 21
                span.hidden
              div(style='background-color: #99CCFF;')
                | 28
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour5')
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 12
                span.hidden
              div(style='background-color: #99CCFF;')
                | 19
                span.hidden
              div(style='background-color: #99CCFF;')
                | 24
                span.hidden
              div(style='background-color: #99CCFF;')
                | 29
                span.hidden
              div(style='background-color: #99CCFF;')
                | 34
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour6')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour7')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 09
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 19
                span.hidden
              div(style='background-color: #99CCFF;')
                | 24
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour8')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 36
                span.hidden
              div(style='background-color: #99CCFF;')
                | 41
                span.hidden
              div(style='background-color: #99CCFF;')
                | 46
                span.hidden
              div(style='background-color: #99CCFF;')
                | 51
                span.hidden
              div(style='background-color: #99CCFF;')
                | 56
                span.hidden
            td.hour.col0(headers='hour9')
              div(style='background-color: #99CCFF;')
                | 01
                span.hidden
              div(style='background-color: #99CCFF;')
                | 06
                span.hidden
              div(style='background-color: #99CCFF;')
                | 11
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour10')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour11')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour12')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour13')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour14')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour15')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour16')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col0(headers='hour17')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour18')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 15
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 25
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 45
                span.hidden
              div(style='background-color: #99CCFF;')
                | 50
                span.hidden
              div(style='background-color: #99CCFF;')
                | 56
                span.hidden
            td.hour.col0(headers='hour19')
              div(style='background-color: #99CCFF;')
                | 01
                span.hidden
              div(style='background-color: #99CCFF;')
                | 07
                span.hidden
              div(style='background-color: #99CCFF;')
                | 13
                span.hidden
              div(style='background-color: #99CCFF;')
                | 22
                span.hidden
              div(style='background-color: #99CCFF;')
                | 31
                span.hidden
              div(style='background-color: #99CCFF;')
                | 40
                span.hidden
              div(style='background-color: #99CCFF;')
                | 55
                span.hidden
            td.hour.col1(headers='hour20')
              div(style='background-color: #99CCFF;')
                | 10
                span.hidden
              div(style='background-color: #99CCFF;')
                | 22
                span.hidden
              div(style='background-color: #99CCFF;')
                | 36
                span.hidden
              div(style='background-color: #99CCFF;')
                | 49
                span.hidden
            td.hour.col0(headers='hour21')
              div(style='background-color: #99CCFF;')
                | 02
                span.hidden
              div(style='background-color: #99CCFF;')
                | 20
                span.hidden
              div(style='background-color: #99CCFF;')
                | 41
                span.hidden
            td.hour.col1(headers='hour22')
              div(style='background-color: #99CCFF;')
                | 05
                span.hidden
              div(style='background-color: #99CCFF;')
                | 35
                span.hidden
            td.hour.col0(headers='hour23')
              div(style='background-color: #99CCFF;')
                | 00
                span.hidden
              div(style='background-color: #99CCFF;')
                | 30
                span.hidden
    br