table#stophour(summary="Horaires de passage à l'arrêt Forêt de Haye \
ligne 1 - \
Direction Essey Mouzimpré")
  #journeyLegend
    h3 Direction :
    | Essey Mouzimpre
    .clear
    br
    .color(style='background-color: #99CCFF;')
  thead
    tr
      th#hour5.col1(scope='col')
        | 05
        abbr(title='') h
      th#hour6.col0(scope='col')
        | 06
        abbr(title='') h
      th#hour7.col1(scope='col')
        | 07
        abbr(title='') h
      th#hour8.col0(scope='col')
        | 08
        abbr(title='') h
      th#hour9.col1(scope='col')
        | 09
        abbr(title='') h
      th#hour10.col0(scope='col')
        | 10
        abbr(title='') h
      th#hour11.col1(scope='col')
        | 11
        abbr(title='') h
      th#hour12.col0(scope='col')
        | 12
        abbr(title='') h
      th#hour13.col1(scope='col')
        | 13
        abbr(title='') h
      th#hour14.col0(scope='col')
        | 14
        abbr(title='') h
      th#hour15.col1(scope='col')
        | 15
        abbr(title='') h
      th#hour16.col0(scope='col')
        | 16
        abbr(title='') h
      th#hour17.col1(scope='col')
        | 17
        abbr(title='') h
      th#hour18.col0(scope='col')
        | 18
        abbr(title='') h
      th#hour19.col1(scope='col')
        | 19
        abbr(title='') h
      th#hour20.col0(scope='col')
        | 20
        abbr(title='') h
      th#hour21.col1(scope='col')
        | 21
        abbr(title='') h
      th#hour22.col0(scope='col')
        | 22
        abbr(title='') h
      th#hour23.col1(scope='col')
        | 23
        abbr(title='') h
      th#hour24.col0(scope='col')
        | 00
        abbr(title='') h
  tbody
    tr
      td.hour.col1(headers='hour5')
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 17
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 58
          span.hidden
      td.hour.col0(headers='hour6')
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 26
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 32
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 37
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 41
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 56
          span.hidden
      td.hour.col1(headers='hour7')
        div(style='background-color: #FFCCCC;')
          | 01
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 06
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 11
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 56
          span.hidden
      td.hour.col0(headers='hour8')
        div(style='background-color: #FFCCCC;')
          | 01
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 06
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 11
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 16
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 21
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 26
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 31
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 36
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 41
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col1(headers='hour9')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col0(headers='hour10')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col1(headers='hour11')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col0(headers='hour12')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col1(headers='hour13')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col0(headers='hour14')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 25
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col1(headers='hour15')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 04
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 09
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 14
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 19
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 24
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 29
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 34
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 39
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 50
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col0(headers='hour16')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 16
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 22
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 27
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 32
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 37
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 42
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 56
          span.hidden
      td.hour.col1(headers='hour17')
        div(style='background-color: #FFCCCC;')
          | 01
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 06
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 11
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 17
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 22
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 27
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 31
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 36
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 41
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 56
          span.hidden
      td.hour.col0(headers='hour18')
        div(style='background-color: #FFCCCC;')
          | 01
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 06
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 11
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 16
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 21
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 26
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 31
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 36
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 41
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 46
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 51
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 55
          span.hidden
      td.hour.col1(headers='hour19')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 05
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 20
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 24
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 28
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 33
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 40
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 48
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 54
          span.hidden
      td.hour.col0(headers='hour20')
        div(style='background-color: #FFCCCC;')
          | 03
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 10
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 18
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 27
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 37
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 49
          span.hidden
      td.hour.col1(headers='hour21')
        div(style='background-color: #FFCCCC;')
          | 02
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 45
          span.hidden
      td.hour.col0(headers='hour22')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 17
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 35
          span.hidden
      td.hour.col1(headers='hour23')
        div(style='background-color: #FFCCCC;')
          | 00
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 30
          span.hidden
        div(style='background-color: #FFCCCC;')
          | 52
          span.hidden
      td.hour.col0(headers='hour24')
        div(style='background-color: #FFCCCC;')
          | 15
          span.hidden
br
br
br
br
table#stophour(summary="Horaires de passage à l'arrêt Forêt de Haye \
ligne 1 - \
Vandoeuvre CHU Brabois")
  #journeyLegend
    h3 Direction :
    | Vandoeuvre CHU Brabois
    .clear
    br
    .color(style='background-color: #99CCFF;')
  thead
    tr
      th#hour4.col1(scope='col')
        | 04
        abbr(title='') h
      th#hour5.col0(scope='col')
        | 05
        abbr(title='') h
      th#hour6.col1(scope='col')
        | 06
        abbr(title='') h
      th#hour7.col0(scope='col')
        | 07
        abbr(title='') h
      th#hour8.col1(scope='col')
        | 08
        abbr(title='') h
      th#hour9.col0(scope='col')
        | 09
        abbr(title='') h
      th#hour10.col1(scope='col')
        | 10
        abbr(title='') h
      th#hour11.col0(scope='col')
        | 11
        abbr(title='') h
      th#hour12.col1(scope='col')
        | 12
        abbr(title='') h
      th#hour13.col0(scope='col')
        | 13
        abbr(title='') h
      th#hour14.col1(scope='col')
        | 14
        abbr(title='') h
      th#hour15.col0(scope='col')
        | 15
        abbr(title='') h
      th#hour16.col1(scope='col')
        | 16
        abbr(title='') h
      th#hour17.col0(scope='col')
        | 17
        abbr(title='') h
      th#hour18.col1(scope='col')
        | 18
        abbr(title='') h
      th#hour19.col0(scope='col')
        | 19
        abbr(title='') h
      th#hour20.col1(scope='col')
        | 20
        abbr(title='') h
      th#hour21.col0(scope='col')
        | 21
        abbr(title='') h
      th#hour22.col1(scope='col')
        | 22
        abbr(title='') h
      th#hour23.col0(scope='col')
        | 23
        abbr(title='') h
      th#hour24.col1(scope='col')
        | 00
        abbr(title='') h
  tbody
    tr
      td.hour.col1(headers='hour4')
        div(style='background-color: #99CCFF;')
          | 58
          span.hidden
      td.hour.col0(headers='hour5')
        div(style='background-color: #99CCFF;')
          | 05
          span.hidden
        div(style='background-color: #99CCFF;')
          | 12
          span.hidden
        div(style='background-color: #99CCFF;')
          | 22
          span.hidden
        div(style='background-color: #99CCFF;')
          | 33
          span.hidden
        div(style='background-color: #99CCFF;')
          | 43
          span.hidden
        div(style='background-color: #99CCFF;')
          | 50
          span.hidden
        div(style='background-color: #99CCFF;')
          | 57
          span.hidden
      td.hour.col1(headers='hour6')
        div(style='background-color: #99CCFF;')
          | 02
          span.hidden
        div(style='background-color: #99CCFF;')
          | 07
          span.hidden
        div(style='background-color: #99CCFF;')
          | 12
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 28
          span.hidden
        div(style='background-color: #99CCFF;')
          | 33
          span.hidden
        div(style='background-color: #99CCFF;')
          | 38
          span.hidden
        div(style='background-color: #99CCFF;')
          | 43
          span.hidden
        div(style='background-color: #99CCFF;')
          | 48
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col0(headers='hour7')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 10
          span.hidden
        div(style='background-color: #99CCFF;')
          | 16
          span.hidden
        div(style='background-color: #99CCFF;')
          | 21
          span.hidden
        div(style='background-color: #99CCFF;')
          | 26
          span.hidden
        div(style='background-color: #99CCFF;')
          | 31
          span.hidden
        div(style='background-color: #99CCFF;')
          | 36
          span.hidden
        div(style='background-color: #99CCFF;')
          | 41
          span.hidden
        div(style='background-color: #99CCFF;')
          | 46
          span.hidden
        div(style='background-color: #99CCFF;')
          | 51
          span.hidden
        div(style='background-color: #99CCFF;')
          | 57
          span.hidden
      td.hour.col1(headers='hour8')
        div(style='background-color: #99CCFF;')
          | 01
          span.hidden
        div(style='background-color: #99CCFF;')
          | 06
          span.hidden
        div(style='background-color: #99CCFF;')
          | 12
          span.hidden
        div(style='background-color: #99CCFF;')
          | 17
          span.hidden
        div(style='background-color: #99CCFF;')
          | 22
          span.hidden
        div(style='background-color: #99CCFF;')
          | 27
          span.hidden
        div(style='background-color: #99CCFF;')
          | 31
          span.hidden
        div(style='background-color: #99CCFF;')
          | 36
          span.hidden
        div(style='background-color: #99CCFF;')
          | 41
          span.hidden
        div(style='background-color: #99CCFF;')
          | 46
          span.hidden
        div(style='background-color: #99CCFF;')
          | 51
          span.hidden
        div(style='background-color: #99CCFF;')
          | 56
          span.hidden
      td.hour.col0(headers='hour9')
        div(style='background-color: #99CCFF;')
          | 01
          span.hidden
        div(style='background-color: #99CCFF;')
          | 06
          span.hidden
        div(style='background-color: #99CCFF;')
          | 11
          span.hidden
        div(style='background-color: #99CCFF;')
          | 17
          span.hidden
        div(style='background-color: #99CCFF;')
          | 22
          span.hidden
        div(style='background-color: #99CCFF;')
          | 27
          span.hidden
        div(style='background-color: #99CCFF;')
          | 32
          span.hidden
        div(style='background-color: #99CCFF;')
          | 37
          span.hidden
        div(style='background-color: #99CCFF;')
          | 42
          span.hidden
        div(style='background-color: #99CCFF;')
          | 47
          span.hidden
        div(style='background-color: #99CCFF;')
          | 52
          span.hidden
        div(style='background-color: #99CCFF;')
          | 56
          span.hidden
      td.hour.col1(headers='hour10')
        div(style='background-color: #99CCFF;')
          | 01
          span.hidden
        div(style='background-color: #99CCFF;')
          | 05
          span.hidden
        div(style='background-color: #99CCFF;')
          | 10
          span.hidden
        div(style='background-color: #99CCFF;')
          | 15
          span.hidden
        div(style='background-color: #99CCFF;')
          | 20
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col0(headers='hour11')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col1(headers='hour12')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col0(headers='hour13')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col1(headers='hour14')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col0(headers='hour15')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 15
          span.hidden
        div(style='background-color: #99CCFF;')
          | 20
          span.hidden
        div(style='background-color: #99CCFF;')
          | 25
          span.hidden
        div(style='background-color: #99CCFF;')
          | 30
          span.hidden
        div(style='background-color: #99CCFF;')
          | 35
          span.hidden
        div(style='background-color: #99CCFF;')
          | 40
          span.hidden
        div(style='background-color: #99CCFF;')
          | 45
          span.hidden
        div(style='background-color: #99CCFF;')
          | 50
          span.hidden
        div(style='background-color: #99CCFF;')
          | 55
          span.hidden
      td.hour.col1(headers='hour16')
        div(style='background-color: #99CCFF;')
          | 00
          span.hidden
        div(style='background-color: #99CCFF;')
          | 05
          span.hidden
        div(style='background-color: #99CCFF;')
          | 10
          span.hidden
        div(style='background-color: #99CCFF;')
          | 15
          span.hidden
        div(style='background-color: #99CCFF;')
          | 20
          span.hidden
        div(style='background-color: #99CCFF;')
          | 25
          span.hidden
        div(style='background-color: #99CCFF;')
          | 30
          span.hidden
        div(style='background-color: #99CCFF;')
          | 35
          span.hidden
        div(style='background-color: #99CCFF;')
          | 40
          span.hidden
        div(style='background-color: #99CCFF;')
          | 45
          span.hidden
        div(style='background-color: #99CCFF;')
          | 50
          span.hidden
        div(style='background-color: #99CCFF;')
          | 55
          span.hidden
      td.hour.col0(headers='hour17')
        div(style='background-color: #99CCFF;')
          | 00
          span.hidden
        div(style='background-color: #99CCFF;')
          | 05
          span.hidden
        div(style='background-color: #99CCFF;')
          | 10
          span.hidden
        div(style='background-color: #99CCFF;')
          | 15
          span.hidden
        div(style='background-color: #99CCFF;')
          | 20
          span.hidden
        div(style='background-color: #99CCFF;')
          | 25
          span.hidden
        div(style='background-color: #99CCFF;')
          | 31
          span.hidden
        div(style='background-color: #99CCFF;')
          | 36
          span.hidden
        div(style='background-color: #99CCFF;')
          | 41
          span.hidden
        div(style='background-color: #99CCFF;')
          | 46
          span.hidden
        div(style='background-color: #99CCFF;')
          | 51
          span.hidden
        div(style='background-color: #99CCFF;')
          | 56
          span.hidden
      td.hour.col1(headers='hour18')
        div(style='background-color: #99CCFF;')
          | 01
          span.hidden
        div(style='background-color: #99CCFF;')
          | 06
          span.hidden
        div(style='background-color: #99CCFF;')
          | 11
          span.hidden
        div(style='background-color: #99CCFF;')
          | 16
          span.hidden
        div(style='background-color: #99CCFF;')
          | 20
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 39
          span.hidden
        div(style='background-color: #99CCFF;')
          | 44
          span.hidden
        div(style='background-color: #99CCFF;')
          | 49
          span.hidden
        div(style='background-color: #99CCFF;')
          | 54
          span.hidden
        div(style='background-color: #99CCFF;')
          | 59
          span.hidden
      td.hour.col0(headers='hour19')
        div(style='background-color: #99CCFF;')
          | 04
          span.hidden
        div(style='background-color: #99CCFF;')
          | 09
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 24
          span.hidden
        div(style='background-color: #99CCFF;')
          | 29
          span.hidden
        div(style='background-color: #99CCFF;')
          | 35
          span.hidden
        div(style='background-color: #99CCFF;')
          | 40
          span.hidden
        div(style='background-color: #99CCFF;')
          | 46
          span.hidden
        div(style='background-color: #99CCFF;')
          | 52
          span.hidden
      td.hour.col1(headers='hour20')
        div(style='background-color: #99CCFF;')
          | 01
          span.hidden
        div(style='background-color: #99CCFF;')
          | 10
          span.hidden
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 34
          span.hidden
        div(style='background-color: #99CCFF;')
          | 48
          span.hidden
      td.hour.col0(headers='hour21')
        div(style='background-color: #99CCFF;')
          | 00
          span.hidden
        div(style='background-color: #99CCFF;')
          | 14
          span.hidden
        div(style='background-color: #99CCFF;')
          | 27
          span.hidden
        div(style='background-color: #99CCFF;')
          | 40
          span.hidden
        div(style='background-color: #99CCFF;')
          | 58
          span.hidden
      td.hour.col1(headers='hour22')
        div(style='background-color: #99CCFF;')
          | 19
          span.hidden
        div(style='background-color: #99CCFF;')
          | 43
          span.hidden
      td.hour.col0(headers='hour23')
        div(style='background-color: #99CCFF;')
          | 13
          span.hidden
        div(style='background-color: #99CCFF;')
          | 38
          span.hidden
      td.hour.col1(headers='hour24')
        div(style='background-color: #99CCFF;')
          | 08
          span.hidden
